img {
    width: auto;
    margin: 15px;
}

h1 {
    text-align: center;
    color: slateblue;
}

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

.about {
    margin: 10px;
    padding: 50px;
    text-align: center;
    background-color: inherit;
    color: rgb(75, 64, 146);
    display: inline-block;
}

.col {
    float: left;
    width: 45%;
    margin-right: 16px;
    padding: 0 8px;
    line-height: 2.5;
  }